# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Local data (keep data/ for demo, but exclude temp uploads)
temp/
